:root {
    --primary-color: #2c3e50;
    --secondary-color: #2e84bf;

    --background-color: #ffffff;
    --div-color: #eaecef;

    --text-primary: #121212;
    --text-secondary: #ffffff;

    --spacing: 5rem;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--background-color);
    color: var(--primary-color);
}

img {
    max-width: 100%;
    display: block;
}

h1,
h2,
h3,
p {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.button-primary {
    width: 100%;
    padding: 0.5rem;
    background-color: var(--secondary-color);
    color: var(--text-secondary);
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-out;
}

.button-primary:hover {
    background-color: #3595D7;
}

.page-title {
    margin: calc(var(--spacing) / 2) 0;
    text-align: center;
}

.section {
    margin: calc(var(--spacing) / 1.5) 0;
}

.section-header {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    border-bottom: 4px var(--primary-color) solid;
    padding-bottom: calc(var(--spacing) / 10);
}

.section-content {
    width: 90%;
    margin: 0 auto;
}

.product {
    background-color: var(--primary-color);
    color: var(--text-secondary);
    border-radius: 5px;
    box-shadow: 3px 4px 4px 3px var(--div-color);
    margin-top: 1.5rem;
}

.product-image {
    width: 100%;
    height: 17.5rem;
    object-fit: cover;
    object-position: top center;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.product-data {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto 0;
}

.product-data h3 {
    font-size: 1.5rem;
    text-align: center;
}

.product p {
    text-align: justify;
    margin: 1rem 0;
}

.product span {
    display: block;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.product button {
    margin-top: 1rem;
}

/*
    MEDIA QUERIES	
*/

/*  Medium Devices (Tablets, 768px and up)  */
@media (min-width: 768px) {
    .section-header {
        width: 40%;
    }

    .products-container {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        column-gap: 1rem;
    }

    .product:nth-child(1) {
        grid-column: 1 / 7;
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    .product:nth-child(1) .product-image {
        border-top-right-radius: 0;
        border-bottom-left-radius: 5px;
    }

    .product:nth-child(2) {
        grid-column: 1/4;
    }

    .product:nth-child(3) {
        grid-column: 4/7;
    }

    .product:nth-child(2) .product-image,
    .product:nth-child(3) .product-image {
        height: 18rem;
    }

    .product:nth-child(2) .product-data,
    .product:nth-child(3) .product-data {
        height: 18rem;
    }

    .product:nth-child(4) {
        grid-column: 1 / 3;
    }

    .product:nth-child(5) {
        grid-column: 3 / 5;
    }

    .product:nth-child(6) {
        grid-column: 5 / 7;
    }

    .product:nth-child(4) .product-data,
    .product:nth-child(5) .product-data,
    .product:nth-child(6) .product-data {
        height: 21rem;
    }

    .product-image {
        height: 22.5rem;
    }
}

/*  Large Devices (Desktops, 992px and up)  */
@media (min-width: 992px) {
    .section-header {
        width: 30%;
    }
}

/*  X-Large Devices (Large Desktops, 1200px and up)  */
@media (min-width: 1200px) {
    .section-header {
        width: 20%;
    }

    .section-content {
        width: 80%;
    }

    .product:nth-child(1) .product-data {
        height: 16rem;
    }

    .product:nth-child(2) .product-data,
    .product:nth-child(3) .product-data {
        height: 15.5rem;
    }

    .product:nth-child(4) .product-data,
    .product:nth-child(5) .product-data,
    .product:nth-child(6) .product-data {
        height: 18.5rem;
    }

    .product-image {
        height: 24rem;
    }
}

/*  XX-Large Devices (Larger Desktops, 1800px and up)  */
@media (min-width: 1800px) {
    .products-container {
        column-gap: 2rem;
    }

    .product:nth-child(2) .product-data,
    .product:nth-child(3) .product-data {
        height: 14.5rem;
    }

    .product:nth-child(4) .product-data,
    .product:nth-child(5) .product-data,
    .product:nth-child(6) .product-data {
        height: 15rem;
    }

    .product-image {
        height: 30rem;
    }
}

/*  XXX-Large Devices (Even Larger Desktops, 2000px and up)  */
@media (min-width: 2000px) {
    .section-content {
        width: 70%;
    }

    .product:nth-child(2) .product-data,
    .product:nth-child(3) .product-data {
        height: 15rem;
    }

    .product:nth-child(4) .product-data,
    .product:nth-child(5) .product-data,
    .product:nth-child(6) .product-data {
        height: 16rem;
    }

    .product-image {
        height: 50rem;
    }
}